@page
@model BwMelder.Pages.TeamCoaches.IndexModel

@{
    ViewData["Title"] = "Betreuer";
}

<h1>Betreuer</h1>
<p>
    Hier werden die Betreuer verwaltet, die mit dem Team zum Bundeswettbewerb fahren.
    Erstellt Betreuerzugänge, damit die sich Betreuer selbst registrieren können.
</p>
<p>
    <div class="btn-group">
        <a role="button" class="btn btn-primary" asp-page="./Keys/Create"><i class="bi bi-plus-lg"></i> Betreuerzugang anlegen</a>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-page="./Create"><i class="bi bi-person-plus"></i> Betreuer direkt eintragen</a>
        </div>
    </div>
    <a class="btn btn-link" asp-page="./Keys/Index">Betreuerzugänge anzeigen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoaches[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoaches[0].ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoaches[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoaches[0].DriversLicense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teamCoach in Model.TeamCoaches)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@teamCoach.Id">
                        @Html.DisplayFor(modelItem => teamCoach.FullName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teamCoach.ClubName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teamCoach.DateOfBirth)
                    @* Highlight minors with a badge. *@
                    @if (teamCoach.DateOfBirth.AddYears(18) > DateTime.Today)
                    {
                        <span class="badge badge-info">U19</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teamCoach.DriversLicense)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@teamCoach.Id" title="Bearbeiten"><i class="bi bi-pencil"></i></a> |
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@teamCoach.Id" title="Löschen"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
