@model BwMelder.Model.Athlete

<div>
    <h4>Stammdaten</h4>
    <dl class="row">
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.IsCox)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.IsCox)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Address.Summary)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Address.Summary)
        </dd>
    </dl>

    <h4>Erziehungsberechtigter</h4>
    <dl class="row">
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.LegalGuardian.FullName)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.LegalGuardian.FullName)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.LegalGuardian.Contact.EmailAddress)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.LegalGuardian.Contact.EmailAddress)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.LegalGuardian.Contact.Phone)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.LegalGuardian.Contact.Phone)
        </dd>
    </dl>

    <h4>Teilnahmeinformationen</h4>
    <dl class="row">
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.ShirtSize)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.ShirtSize)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Diet.Choice)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Diet.Choice)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Diet.Restrictions)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Diet.Restrictions)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
