@page
@model BwMelder.Pages.Crews.IndexModel

@{
    ViewData["Title"] = "Mannschaften";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hier werden die Mannschaften für die Boote beim BW verwaltet. Nominiert eine Mannschaft, um sie hinzuzufügen.
    Anschließend erhaltet ihr einen Zugang, über den die jeweiligen Trainer die Daten ihrer Sportler selbst eintragen können.
</p>
<p>
    Unten seht ihr, wie viele Sportler schon eingetragen sind.
    Einen Überblick über die gemeldeten Sportler gibt es in der <a asp-page="../Reports/Entries">Meldeübersicht</a>.
</p>
<p>
    <a class="btn btn-primary" asp-page="Create"><i class="bi bi-trophy"></i> Mannschaft nominieren</a>
    @*<a class="btn btn-link" asp-page="../Races/Index">Rennen verwalten</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].HomeCoach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crew in Model.Crews)
        {
            // Color-code the athlete count to show if the crew is complete or not.
            // Compare the actual athlete count of the crew with the expected athlete count according to the race definition.
            var athleteStatusClass = (crew.Athletes.Count, crew.Race.AthleteCount) switch
            {
                // No athletes were added yet, red highlight.
                (0, _) => "table-danger",
                // Some were added, but not all of them, yellow highlight.
                var (x, y) when x < y => "table-warning",
                // All were added, green highlight.
                var (x, y) when x == y => "table-success",
                (_, _) => ""
            };
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => crew.Race.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => crew.ClubName)
                </td>
                <td class="@athleteStatusClass">
                    @crew.Athletes.Count von @crew.Race.AthleteCount
                </td>
                <td>
                    @Html.DisplayFor(modelItem => crew.HomeCoach.FullName)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@crew.Id">Zur Mannschaft</a> |
                    <a asp-page="./Edit" asp-route-id="@crew.Id" title="Bearbeiten"><i class="bi bi-pencil"></i></a> |
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@crew.Id" title="Löschen"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>