@page
@model BwMelder.Pages.Reports.AthletesModel

@{
    ViewData["Title"] = "Alle Sportlerdaten";
}

<h1>@ViewData["Title"]</h1>

<p>
    <button class="btn btn-secondary" onclick="tableToCsv('athletes-table')">CSV herunterladen</button>
</p>

<table class="table table-hover table-sm table-responsive" id="athletes-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Race.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Race.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].ShirtSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].Diet.Choice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].Diet.Restrictions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].HomeCoach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].HomeCoach.Contact.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].HomeCoach.Contact.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].LegalGuardian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].LegalGuardian.Contact.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews[0].Athletes[0].LegalGuardian.Contact.Phone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crew in Model.Crews)
        {
            foreach (var athlete in crew.Athletes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => crew.Race.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => crew.Race.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => crew.ClubName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.Address.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.ShirtSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.Diet.Choice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.Diet.Restrictions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => crew.HomeCoach.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => crew.HomeCoach.Contact.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => crew.HomeCoach.Contact.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.LegalGuardian.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.LegalGuardian.Contact.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => athlete.LegalGuardian.Contact.Phone)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
