@page
@model BwMelder.Pages.Reports.MailingModel

@{
    ViewData["Title"] = "Mail-Verteiler";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a href="@Model.GetMailtoLink(Model.AllEmailAddresses)" class="btn btn-primary">
        <i class="bi bi-envelope-at"></i> Mail an alle schreiben
    </a>
</p>

<h4>Heimtrainer</h4>

<p>
    <textarea class="form-control" readonly>@string.Join("; ", Model.HomeCoachEmailAddresses)</textarea>
</p>
<p>
    <a href="@Model.GetMailtoLink(Model.HomeCoachEmailAddresses)" class="btn btn-secondary">
        <i class="bi bi-envelope-at"></i> Mail schreiben
    </a>
</p>

<h4>Betreuer</h4>
<p>
    <textarea class="form-control" readonly>@string.Join("; ", Model.TeamCoachEmailAddresses)</textarea>
</p>
<p>
    <a href="@Model.GetMailtoLink(Model.TeamCoachEmailAddresses)" class="btn btn-secondary">
        <i class="bi bi-envelope-at"></i> Mail schreiben
    </a>
</p>