@page "{id:int}"
@model BwMelder.Pages.TeamCoaches.Keys.DeleteModel

@{
    ViewData["Title"] = "Betreuerzugang";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key!.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key!.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key!.Secret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key!.Secret)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="../Index">Zurück zur Betreuerübersicht</a> |
    <a asp-page="../Index">Betreuerzugänge verwalten</a> |
    <a class="text-danger" asp-page="./Delete" asp-route-id="@Model.Key!.Id">Löschen</a>
</div>
