@page
@model BwMelder.Pages.TeamCoaches.Keys.IndexModel
@{
    ViewData["Title"] = "Betreuerzugänge";
}

<h1>@ViewData["Title"]</h1>
<p>
    Betreuer können ihre Daten über einen Betreuerzugang selbst eintragen und ändern.
    Dafür ist keine Anmeldung notwendig, sondern ein spezieller, persönlicher Link.
    Die hier gezeigten Zugänge wurden freigeschaltet, aber noch nicht verwendet.
</p>
<p>
    <a class="btn btn-primary" asp-page="Create">Betreuerzugang anlegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoachKeys[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoachKeys[0].Secret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TeamCoachKeys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <div class="input-group">
                        <input class="form-control" value="@Model.GetSecretUrl(item)" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" data-toggle="button"
                                    onclick="toggleQrCode('@Model.GetSecretUrl(item)', 'qrCode-@item.Id')">
                                QR-Code
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div id="qrCode-@item.Id"></div>
                    </div>
                </td>
                <td>
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@item.Id">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script type="text/javascript" src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script type="text/javascript">
        function toggleQrCode(url, qr) {
            qrCodeContainer = document.getElementById(qr);

            if (qrCodeContainer.innerHTML.trim().length > 0) {
                qrCodeContainer.innerHTML = "";
                qrCodeContainer.classList.remove("mt-2");
            }
            else {
                new QRCode(qrCodeContainer,
                    {
                        text: url,
                        width: 150,
                        height: 150
                    });

                qrCodeContainer.classList.add("mt-2");
            }
        }
    </script>

}
