@page
@model BwMelder.Pages.TeamCoaches.Keys.IndexModel
@{
    ViewData["Title"] = "Betreuerzugänge";
}

<h1>@ViewData["Title"]</h1>
<p>
    Betreuer können ihre Daten über einen Betreuerzugang selbst eintragen und ändern.
    Die hier gezeigten Zugänge sind freigeschaltet, wurden aber noch nicht verwendet.
    Schickt die Links an die Betreuer, damit sie sich anmelden können.
    Jeder Zugang kann nur einmal verwendet werden.
</p>
<p>
    <a class="btn btn-primary" asp-page="Create"><i class="bi bi-plus-lg"></i> Betreuerzugang anlegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoachKeys[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamCoachKeys[0].Secret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TeamCoachKeys)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <div class="input-group">
                        <input class="form-control" value="@Model.GetSecretUrl(item)" readonly />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" data-toggle="button"
                                    onclick="toggleQrCode('@Model.GetSecretUrl(item)', 'qrCode-@item.Id')"
                                    title="QR-Code generieren">
                                <i class="bi bi-qr-code-scan"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div id="qrCode-@item.Id"></div>
                    </div>
                </td>
                <td>
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_QrCodeScriptsPartial");
    }
}
